<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>
<body>
    <a href="{% url 'home' %}">Home</a> <a href="{% url 'categories' %}"></a> 
    <h1>Articles</h1>
    
    {% for item in articles %}
        <div>
            <h2>➡️{{item.title}}</h2>
            <small>{{item.author}}, {{item.date}}</small>
        </div>
    {% endfor %}
        

</body>
</html>